<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Game Log</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <ul>
      <a href="/login"><li>VGTracker</li></a>
      <a href="/addPage"><li id="searchNav">Search</li></a>
      <a href="/list"><li id="gameNav">View Games</li></a>
      <a href="/log"><li id="logNav">Log Games</li></a>
      <a href="/logout"><li><div class="navlink">Log out</div></li></a>
    </ul>
  </nav>
  <section id="content">
  </section>
  <script src="/assets/listBundle.js"></script>
</body>
</html>