<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Game Log</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>
    <ul>
      <li><a href="/login">VGTracker</a></li>
      <a id="loginButton" href="/login"><li><div class="navlink">Login</div></li></a>
      <a id="signupButton" href="/signup"><li><div class="navlink">Sign up</div></li></a>
    </ul>
  </nav>
  <section id="content"></section>

  <script src="/assets/loginBundle.js"></script>
</body>
</html>